@model MarketeersMarketplace.ViewModels.ContactUsVM

<form asp-action="SendMessage" asp-controller="Home" method="post">
    <div class="mb-3">
        <label for="contactName" class="form-label text-white">Name</label>
        <input type="text" name="Name" class="form-control form-control-sm" id="contactName" placeholder="Your name" required>
    </div>
    <div class="mb-3">
        <label for="contactEmail" class="form-label text-white">Email</label>
        <input type="email" name="Email" class="form-control form-control-sm" id="contactEmail" placeholder="Your email address" required>
    </div>
    <div class="mb-3">
        <label for="contactMessage" class="form-label text-white">Message</label>
        <textarea name="Message" class="form-control form-control-sm" id="contactMessage" rows="3" placeholder="Your message" required></textarea>
    </div>
    <div class="d-grid mt-3 d-sm-flex justify-content-xl-center">
        <button type="submit" class="btn btn-light btn-sm px-4 me-sm-3">Send Message</button>
    </div>
</form>
